*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(255, 225, 0); */
    z-index: -1;
    width: 100%;
    height: 100vh;
    font-family: 'Cairo', sans-serif;
}

main {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

menu {
    position: absolute;
    top: 400px;
    right: -1em;
    z-index: 999999999;
    transform: rotate(90deg);
}

menu ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

menu ul li {
    position: relative;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    color: black;
    display: inline-block;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

menu ul li a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

li::before {
    content: '';
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .2s;
    transition: all .2s;
}

li:hover::before {
    top: -20px;
    background-color: #6B62FB;
}

.logo {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 20px;
}

.art {
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    left: 50px;
    font-size: 35px;
    /* color: rgb(124, 119, 119); */
    color: #ffffff;
}

.art::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
    left: -10px;
    background-color: #161515;
    -webkit-box-shadow: 1px 1px 3px black;
    box-shadow: 1px 1px 3px black;
}

.af {
    font-family: 'Parisienne', cursive;
    position: absolute;
    right: 40px;
    top: 20%;
    font-size: 45px;
    color: black;
    z-index: -1;
}

.section1 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

.side1 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin-left: 20px;
}

.side1 h3 {
    position: relative;
    margin-left: 3em;
    letter-spacing: 6px;
    color: black;
    font-size: 3em;
}

.cap::before {
    position: absolute;
    content: '';
    width: 30%;
    height: 5px;
    background: rgb(255, 255, 255);
}

.side2 {
    position: relative;
    width: 40%;
    margin: auto;
    height: 60vh;
}



.side2 img {
    position: absolute;
    width: 90%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.props {
    background-color: rgba(0, 0, 0, 0.623);
    background-image: url('https://images.unsplash.com/photo-1579272401473-95f6e426ed79?ixlib=rb-1.2.1&auto=format&fit=crop&w=642&q=80');
    position: absolute;
    background-position: center;
    width: 700px;
    height: 700px;
    top: 0;
    left: 0px;
    -webkit-clip-path: circle(80.4% at 10% 7%);
    clip-path: circle(80.4% at 10% 7%);
    z-index: -4;
}

.prop2 {
    background-image: url('https://images.unsplash.com/photo-1579272401473-95f6e426ed79?ixlib=rb-1.2.1&auto=format&fit=crop&w=642&q=80');
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 400px;
    height: 200px;
    clip-path: circle(53.1% at 50% 100%);
}

.credit {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 30px;
    /* background-color: yellow; */
}

.credit img {
    position: absolute;
    width: 20%;
    height: 100%;
}

.credit .cred {
    font-family: 'Poppins';
    color: #0e0d0d;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 23%;
    font-size: .8em;
    height: 100%;
}

.active::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 20%;
    bottom: -5px;
    background-color: rgb(20, 20, 20);
    left: 40%;
}

.sexy {
    display: none;
}

@media (max-width:920px) {
    .props {
        width: 400px;
        height: 400px;
    }

    .logo {
        left: -1em;
    }

    .art {
        font-size: 25px;
    }

    .af {
        font-size: 30px;
        right: 80px;
    }

    .side1 {
        margin-left: 0;
        width: 100%;
    }

    .side1 h3 {
        margin-left: 12px;
    }

    .side2 img {
        width: auto;
        left: -90%;
        opacity: .5;
    }

    .cred {
        color: black;
    }

    menu {
        right: -4em;
        font-weight: 500;
    }

    .sexy {
        display: block;
        position: absolute;
        bottom: 150px;
        left: 18%;
        font-family: 'Anton', sans-serif;
        line-height: .8;
        font-size: 1.8em;
        letter-spacing: -2px;
        transform: rotate(-90deg);
        opacity: .8;
    }
}